/* Web Stories: Carousel View */
.web-stories-list.is-view-type-carousel {
  position: relative;
}

@media all and (min-width: 676px) {
  .web-stories-list.is-view-type-carousel .web-stories-list__inner-wrapper {
    max-width: var(--ws-story-max-width);
  }
}

.web-stories-list.is-view-type-carousel .web-stories-list__story-placeholder {
  position: relative;
}

.web-stories-list.is-view-type-carousel.is-style-default
  .web-stories-list__story-placeholder {
  border-radius: 8px;
  overflow: hidden;
}

.is-view-type-carousel .glider-next,
.is-view-type-circles .glider-next,
.web-stories-list .amp-carousel-button-next {
  right: 0;
  background-image: url('./../../icons/carousel-arrow-next.svg');
}

.is-view-type-carousel .glider-prev,
.is-view-type-circles .glider-prev,
.web-stories-list .amp-carousel-button-prev {
  left: 0;
  background-image: url('./../../icons/carousel-arrow-prev.svg');
}

.is-view-type-carousel .amp-carousel-button,
.is-view-type-carousel .glider-next,
.is-view-type-carousel .glider-prev,
.is-view-type-circles .amp-carousel-button,
.is-view-type-circles .glider-next,
.is-view-type-circles .glider-prev {
  border-radius: 50%;
  background-color: #eaeaea;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  height: 34px;
  width: 34px;
  margin: 16px;
  border-style: none;
  z-index: 10;
  pointer-events: all;
}

.is-view-type-carousel .glider-next,
.is-view-type-carousel .glider-prev,
.is-view-type-circles .glider-next,
.is-view-type-circles .glider-prev {
  padding: 10px;
  top: 50%;
}

/* Temporary till we have full support for the RTL carousel. */
html[dir='rtl'] .glider-next.disabled,
html[dir='rtl'] .glider-prev.disabled {
  opacity: 1;
  cursor: pointer;
}

.is-view-type-carousel .glider-next:not(.disabled):hover,
.is-view-type-carousel .glider-prev:not(.disabled):hover,
.is-view-type-circles .glider-next:not(.disabled):hover,
.is-view-type-circles .glider-prev:not(.disabled):hover,
.is-view-type-carousel .amp-carousel-button:not(.amp-disabled):hover,
.is-view-type-circles .amp-carousel-button:not(.amp-disabled):hover {
  filter: invert(1);
}
